* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 320px;
}
.header {
  position: relative;
  min-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  background-color: #ffffff;
  text-align: center;
}
.header__logo {
  position: absolute;
  width: 102px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 83px;
  z-index: 777;
}
.header__menu-icon {
  position: absolute;
  width: 23px;
  height: 21px;
  top: 17px;
  right: 20px;
  background: url("../img/header__icon-menu.png") no-repeat 100% 100%;
}
@media (min-width: 768px) {
  .header {
    min-width: 768px;
  }
  .header__menu-icon {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 1200px;
    max-width: 1200px;
  }
  .header__logo {
    width: 188px;
  }
}
.navigation-panel {
  display: none;
  position: relative;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 56px;
}
.navigation-panel__menu-block {
  min-width: 320px;
  height: 223px;
  position: absolute;
  top: 0;
  left: 0px;
  list-style: none;
  z-index: 1000;
  display: block;
}
.navigation-panel li {
  display: block;
  min-width: 320px;
  height: 56px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #678fa8;
  font-weight: 700;
  line-height: 55px;
  z-index: 1000;
}
.navigation-panel__close-btn {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  z-index: 1200;
  background: url("../img/navigation-panel__close-btn.png") no-repeat 100% 100%;
}
.navigation-panel__close-btn--on {
  display: block;
}
.navigation-panel--on {
  display: block;
}
@media (min-width: 768px) {
  .navigation-panel {
    display: block;
    width: 100%;
  }
  .navigation-panel ul {
    width: 100%;
  }
  .navigation-panel li {
    display: inline-block;
    min-width: 153px;
    background-color: #ffffff;
    color: #000000;
    border: none;
  }
  .navigation-panel__menu-item--left {
    float: left;
  }
  .navigation-panel__menu-item--right {
    float: right;
  }
  .navigation-panel__close-btn {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navigation-panel ul li {
    min-width: 239px;
    max-width: 239px;
    width: 239px;
  }
}
.banner {
  background: url("../img/banner-bg-desktop.jpg") no-repeat 50% 30%;
  height: 389px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px;
}
.banner__text {
  flex-basis: 282px;
  min-width: 282px;
  flex-grow: 1;
  max-height: 260px;
}
.contents {
  min-width: 320px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
.contents h2 {
  font-size: 18px;
  line-height: 26px;
}
.contents__subtitle {
  height: 239px;
  min-width: 320px;
  background-color: #ffffff;
  padding: 31px;
}
.contents__subtitle h2 {
  text-align: center;
  font-weight: bold;
  max-width: 303px;
  margin-left: auto;
  margin-right: auto;
}
.contents__text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  max-width: 303px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .contents__subtitle h2 {
    font-size: 21px;
    max-width: 410px;
  }
  .contents__text {
    max-width: 488px;
  }
}
.advantages {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.advantages h2,
.advantages p {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 10px;
  line-height: 1.5;
}
.advantages__line {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  justify-content: space-around;
  height: 417px;
  background-color: #ffffff;
}
.advantages__line--last {
  background-color: #eeeeee;
  height: 505px;
}
@media (min-width: 768px) {
  .advantages__line--last {
    padding-top: 20px;
  }
}
.advantages__line--pic {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
.advantages__line--pic .advantages__advantage {
  background-color: #81b3d2;
  color: #ffffff;
  min-height: 191px;
  text-align: center;
  padding: 20px;
}
.advantages__recomend {
  position: relative;
  text-align: left;
  padding-top: 20px;
}
.advantages__icon {
  float: left;
  width: 40px;
  height: 100px;
  top: 0;
  left: 19px;
  margin-left: 19px;
  margin-right: 10px;
}
.advantages__icon--house {
  background: url("../img/advantages__icon--house.png") no-repeat 0 0;
  background-size: contain;
}
.advantages__icon--gifts {
  background: url("../img/advantages__icon--gifts.png") no-repeat 0 0;
  background-size: contain;
}
.advantages__icon--food {
  background: url("../img/advantages__icon--food.png") no-repeat 0 0;
  background-size: contain;
}
.advantages__img {
  height: 261px;
  background: url("../img/photo-sedona-1x.jpg") no-repeat 0 0;
}
.advantages__img--2 {
  background: url("../img/photo-bridge-1x.jpg") no-repeat 0 0;
}
@media (min-width: 510px) {
  .advantages__line--pic {
    flex-direction: row;
    height: 256px;
  }
  .advantages__advantage {
    flex-grow: 0;
    flex-basis: 255px;
    min-width: 255px;
    height: auto;
  }
  .advantages__img {
    flex-basis: 255px;
    flex-grow: 1;
    height: auto;
  }
}
@media (min-width: 768px) {
  .advantages__line {
    flex-direction: row;
    height: 256px;
  }
  .advantages__line--2 {
    height: 331px;
  }
  .advantages__advantage {
    flex-grow: 1;
    flex-basis: 255px;
    max-width: 400px;
  }
  .advantages__img {
    flex-grow: 2;
    flex-basis: 511px;
    max-width: 800px;
  }
  .advantages__recomend {
    flex-basis: 256px;
    text-align: center;
  }
  .advantages__recomend--gifts {
    order: 2;
  }
  .advantages__icon {
    float: none;
    width: 75px;
    height: 75px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-size: contain;
  }
}
.hotel-search {
  padding: 20px;
  min-width: 320px;
  max-width: 1200px;
  height: 288px;
  text-align: center;
  line-height: 2em;
}
.hotel-search h2 {
  line-height: 26px;
  margin: 10px 0;
}
.hotel-search p {
  margin: 20px 0;
}
.hotel-search br {
  display: none;
}
@media (min-width: 768px) {
  .hotel-search {
    height: 318px;
    padding-top: 55px;
  }
  .hotel-search br {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    height: 331px;
  }
}
.hotel-search-btn {
  background-color: #81b3d2;
  color: #ffffff;
  height: 56px;
  line-height: 56px;
  width: 280px;
  font-size: 21px;
  font-weight: 700;
  margin: 30px auto;
}
@media (min-width: 768px) {
  .hotel-search-btn {
    width: 456px;
  }
}
.map {
  min-width: 320px;
  max-width: 1200px;
  height: 352px;
}
.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.footer {
  min-width: 320px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__hashtag {
  height: 98px;
  font-size: 21px;
  font-weight: bold;
  line-height: 98px;
}
.footer__site-creator {
  height: 98px;
  line-height: 98px;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
  }
  .footer * {
    width: calc(33.33333333%);
    height: 120px;
    line-height: 120px;
  }
}
.social-icons {
  height: 48px;
  display: flex;
  justify-content: center;
}
.social-icons__link {
  height: 48px;
}
.social-icons__link--twi {
  width: 46px;
  background: #81b3d2 url(../img/social-icon__link--twi.png) no-repeat 50% 50%;
  margin-right: 6px;
}
.social-icons__link--fb {
  width: 47px;
  background: #81b3d2 url(../img/social-icon__link--fb.png) no-repeat 50% 50%;
  margin-right: 6px;
}
.social-icons__link--youtube {
  width: 46px;
  background: #81b3d2 url(../img/social-icon__link--youtube.png) no-repeat 50% 50%;
}
